#about-body {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/endless-constellation.svg');
    height: 150vh;
}

#about-header {
    margin-top: 10vh;
}

#about-header-content {
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
}

#about-description {
    font-size: 1.3rem;
    padding: 15vw;
    padding-top: 0;
    font-weight: bold;
}

